{% extends "base.html" %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Анализатор страниц</h1>
  <form action="{{ url_for('add_url') }}" method="post" class="d-flex justify-content-center">
      <label for="text" class="visually-hidden">Url для проверки</label>
      <input type="text" name="url" id="url" placeholder="https://www.example.com"
          value="{{ request.form.url|default('') }}" class="form-control form-control-lg" required>
      <input type="submit" class="btn btn-secondary btn-lg ms-3 px-5 text-uppercase mx-3"
          value="Проверить">
  </form>

  {% if url and results %}
  <div class="mt-4">
    <h2 class="h4 mb-3">Результаты для: {{ url }}</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Параметр</th>
          <th>Значение</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in results.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}

