{% extends "base.html" %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">История проверок для: {{ url['name'] }}</h1>
  <h2>Проверка</h2>
  <form action="{{ url_for('create_check', id=url['id']) }}" method="post">
    <input type="hidden" name="url" value="{{ url['name'] }}">
    <button type="submit" class="btn btn-primary">Запустить проверку</button>
</form>
  <a href="{{ url_for('get_urls') }}" class="btn btn-secondary mb-3">Вернуться к списку сайтов</a>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата проверки</th>
      </tr>
    </thead>
    <tbody>
      {% if url_checks %}
        {% for check in url_checks %}
        <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code }}</td>
          <td>{{ check.h1 }}</td>
          <td>{{ check.title }}</td>
          <td>{{ check.description }}</td>
          <td>{{ check.created_at }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="6" class="text-center">Нет данных о проверках</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
