{% extends "base.html" %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Список URL</h1>
  <table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% if urls %}
        {% for url in urls %}
        <tr>
          <td>{{ url['id'] }}</td>
          <td>
            <a href="{{ url_for('show_url_by_id', url_id=url['id']) }}" style="text-decoration: none; color: #080202;">
              {{ url['name'] }}
            </a>
          </td>
          <td>
            {% if url['created_at'] %}
              {{ url['created_at'] }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if url['status_code'] %}
              {{ url['status_code'] }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="text-center">Нет данных для отображения</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}


